<!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Bucketlist with neighbor</h1>
            <h3> Find your friend &amp; Do buketlist</h3>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>가까운 친구와 함께 당신의 버킷리스트를 이루세요!</h2>
                    <p >죽기 전에 하고 싶은 것들을 함께 할 수 있는 동네 형 누나 동생 친구 만들어줄게!</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>



    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="portfolio-item">
                                 <%= link_to "Travel", "/posts", class:'btn btn-link' %>
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="http://m.wikitree.co.kr/main/news_view.php?id=254196&fb=1" class="" width="320" height="320">
                                </a>
                            

                            </div>

                        </div>
                    
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg" class="" width="320" height="320">
                                </a>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg"  class="" width="320" height="320">
                                </a>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"  class="" width="320" height="320">
                                </a>
                            </div>
                        </div>
                    
                         <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"  class="" width="320" height="320">
                                </a>
                            </div>
                         </div>
                            
                           <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"  class="" width="320" height="320">
                                </a>
                            </div>
                          </div>  
                       
                    </div>
