<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>


  <%= form_tag "/comment/create", method: "post" do %>
<input type="hidden" name="post_id" value="<%= @post.id %>">
<br>
    <input type="text" class="form-control" name="msg" placeholder="comment">
    <br>
    <button class="btn btn-success" href="#" role="button">submit</button>
  <% end %>
</div>

<div class="col-lg-12">
     <% @post.comments.each do |a| %>
    <!-- 각 코멘트들 -->
    <div class="well">
    	<p><%= User.find(a.user_id).email %> : <%= a.comment %></p>
    </div>
    <!-- 각 코멘트 끝 -->
    <% end %>
  </div>
</div>
<div class="text-center">
<hr>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
<%= link_to 'Back', posts_path, class: 'btn btn-default' %>